<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>Server URL</string>
	<key>appid</key>
	<string>App ID</string>
	<key>projectid</key>
	<string>Project ID</string>
	<key>appkey</key>
	<string>App Key</string>
	<key>connectiontag</key>
	<string>Connection Tag</string>
	<key>variantID</key>
	<string>Variant ID</string>
	<key>variantSecret</key>
	<string>Variant Secret</string>
</dict>
</plist>
